body {
    background-color: #F0EFEC;
    font-family: Verdana;
    font-size: 15px;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 5px #00000020
}

.card:hover {
    padding: 6px;
    transition: 0.5s;
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: 160px 160px;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrap {
    width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.mystery-img {
    padding: 10px;
    background-color: white;
    border-radius: 100%;
}

.mystery-card {
    text-align: center;
    font-weight: bold;
}

.instructions {
    border-width: 4px;
    border-style: solid;
    border-color: white;
    padding: 20px;
}

h2 {
    text-align: center;
}

.eliminated {   
    opacity: 0.2;
}