body {
    background-color: #F0EFEC;
}

.card {
    background-color: white;
}

.header {
    display: grid;
    grid-template-columns: 160px 160px;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 20px;
    row-gap: 20px;
}