body {
    background-color: #F0EFEC;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
}

.header {
    display: grid;
    grid-template-columns: 160px 160px;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrap {
    width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.mysterycard {
    padding: 10px;
    background-color: white;
    border-radius: 100%;
}